/* BLOG */
@media (min-width: 1024px) {
section[layout="body"] {
    display: flex;
	max-width: 1350px;
	margin: auto
}
section[layout="body"] > section {
    flex: 0 0 70%;
}
section[layout="body"] > section + section {
    flex: 0 0 30%;
	position: sticky;
	top: 100px;
	overflow-y: auto;
}
section[layout="body"] section.news-style-1 .title {
	text-align: left !important;
	font-size: 28px !important;
	margin: 0 12px 40px;
}
section.news-style-1 .single-line-hr {display: none !important;}
section.news-style-1 .row {
    display: flex;
    flex-direction: column;
}
section.news-style-1 .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

section.news-style-1 .news-item a {
    display: flex;
}
section .news-style-1 .news-item img.image-size-scale {
    width: 35% !important;
    height: 100% !important;
    aspect-ratio: 8 / 5;
    object-fit: cover;
    border-radius: 5px;
}
section .news-style-1 .caption {
    width: 65%;
}
section .news-style-1 .caption .limit-1-line-text {
    -webkit-line-clamp: 2!important
}
section .news-style-1 .caption .creation-info {display: none !important}
}

section .blog-article-1__first-article {
    row-gap: 10px;
}
section .blog-article-1 .blog-article-1__featured-ar {
    min-height: auto;
}
section .blog-article-1 .blog-article-1__article {
	height: auto;
	border: 1px solid var(--border);
	border-radius: 5px;
	overflow: hidden;
	
}
section .blog-article-1 .blog-article-1__article-thumbnail-wrapper {
    position: relative;
    padding-top: 56.25%;
	border-radius: 5px;
}

section .blog-article-1 .blog-article-1__article-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .blog-article-1 .blog-article-1__article-title {
    --line-clamp: 2;
    --line-height: 1.5;
    --font-size: 18px;
    text-transform: capitalize;
}
@media (max-width: 1024px) {
section .blog-article-1 .blog-article-1__article-grid {
    grid-template-columns: 1fr 1fr;
	padding: 0
}
}
@media (max-width: 576px) {
section .blog-article-1 .box-cate {
	display: flex;
}
}